<style>
  .element {
    width: 100%;
    height: 100%;
    background-color: #999999;
    background-image: url('{{ section.settings.title_background_image | image_url }}');
    background-color: fade(#ffffff, 50%);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    padding-top: 50px;
    color: white;
    
    
    margin: 0 auto;
  }

  .element h1 {
    color: white;
    margin-top: 10px;
  }

  .element p {
    color: white;
    text-align: justify;
  }
  .element .about-us-info{
    width: 80%;
    max-width: 80%;
  }

  @media (min-width: 300px) and (max-width: 989px) {
    .img-nosotros {
      width: 10% !important;
    }

    .text-nosotros {
      width: 90% !important;
    }
  }
</style>

<div class="element" align="left">
  <div class="about-us-info">
      <img
      src="{{ section.settings.title_icon_page | image_url }}"
      alt="icone-image"
      style="width: 5%"
      class="img-nosotros"
    >
      
    <h1 class="text-title">{{ section.settings.title_page }}</h1>
    <div style="width: 50%" class="text-nosotros">
      <p>{{ section.settings.description_paragraph }}</p>
    </div>
  </div>

  <br>
</div>

{% schema %}
{
  "name": "Custom Title - Page",
  "settings": [
    {
      "type": "image_picker",
      "id": "title_icon_page",
      "label": "Selecciona un icono"
    },
    {
      "type": "text",
      "id": "title_page",
      "label": "Ingresa un título"
    },
    {
      "type": "richtext",
      "id": "description_paragraph",
      "label": "Ingresa una descripción"
    },
    {
      "type": "image_picker",
      "id": "title_background_image",
      "label": "Selecciona una imagen de fondo"
    }
  ]
}
{% endschema %}
