<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 page-width page-margin center" id="section-main">
  <p>
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="title">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="button">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>

<div class="template-404 page-width page-margin center" style="display: none;" id="section-main-redirection">
  <h1 class="title">Cargando...</h1>
</div>

<script>
  //*** REDIRECCION INTEGRACION QR ***
  if (location.pathname == '/qr/ficha_melenaleon/') {
    console.log('redireccion hacia melena leon');
    document.getElementById('section-main').style.display = 'none';
    document.getElementById('section-main-redirection').style.display = 'block';
    location.href = 'https://drive.google.com/file/d/1XQ9xCGRWMnj65GMhHqOaxlh0XFQO7s9z/view?usp=sharing';
  } else if (location.pathname == '/qr/ficha_colapavo/') {
    console.log('redireccion hacia cola pavo');
    document.getElementById('section-main').style.display = 'none';
    document.getElementById('section-main-redirection').style.display = 'block';
    location.href = 'https://drive.google.com/file/d/1lhLEOA_Hp77r8k-NJFWOSonSh-SgRzho/view?usp=sharing';
  } else if (location.pathname == '/qr/ficha_cordycepsmilitaris/') {
    console.log('redireccion hacia cordyceps');
    document.getElementById('section-main').style.display = 'none';
    document.getElementById('section-main-redirection').style.display = 'block';
    location.href = 'https://drive.google.com/file/d/1n-_OAaC6i5m5JLj0OZmHQY6eGitzE3bV/view?usp=sharing';
  } else if (location.pathname == '/qr/ficha_reishi/') {
    console.log('redireccion hacia reishi');
    document.getElementById('section-main').style.display = 'none';
    document.getElementById('section-main-redirection').style.display = 'block';
    location.href = 'https://drive.google.com/file/d/1wbxC7z2Q2Pe2XmeZOdoX_PxakGx6Q26o/view?usp=sharing';
  } else if (location.pathname == '/qr/qr_linktree/') {
    console.log('redireccion hacia linktree');
    document.getElementById('section-main').style.display = 'none';
    document.getElementById('section-main-redirection').style.display = 'block';
    location.href = 'https://linktr.ee/mykosfera';
  } else if (location.pathname == '/qr/1172/') {
    console.log('redireccion hacia ig');
    document.getElementById('section-main').style.display = 'none';
    document.getElementById('section-main-redirection').style.display = 'block';
    location.href = 'https://www.instagram.com/mykosfera/';
  }
</script>
