<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 page-width page-margin center" id="section-main">
  <p>
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="title">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="button">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>

<div class="template-404 page-width page-margin center" style="display: none;" id="section-main-redirection">
  <h1 class="title">Cargando...</h1>
</div>

<script>
  //*** REDIRECCION INTEGRACION QR ***
  if (location.pathname == '/qr/ficha_melenaleon/') {
    document.getElementById('section-main').style.display = 'none';
    document.getElementById('section-main-redirection').style.display = 'block';
    location.href = "https://mykosfera.cl/fichas_hongos/Ficha_info_MelenaLeon_Mykosfera.pdf'";
  } else if (location.href == window.location.host + '/qr/ficha_colapavo/') {
    document.getElementById('section-main').style.display = 'none';
    document.getElementById('section-main-redirection').style.display = 'block';
    location.href = 'https://mykosfera.cl/fichas_hongos/Ficha_info_ColaPavo_Mykosfera.pdf';
  } else if (location.href == window.location.host + '/qr/ficha_cordycepsmilitaris/') {
    document.getElementById('section-main').style.display = 'none';
    document.getElementById('section-main-redirection').style.display = 'block';
    location.href = 'https://mykosfera.cl/fichas_hongos/Ficha_info_CordycepsMilitaris_Mykosfera.pdf';
  } else if (location.href == window.location.host + '/qr/ficha_reishi/') {
    document.getElementById('section-main').style.display = 'none';
    document.getElementById('section-main-redirection').style.display = 'block';
    location.href = 'https://mykosfera.cl/fichas_hongos/Ficha_info_Reishi_Mykosfera.pdf';
  } else if (location.href == window.location.host + '/qr/ficha_hongo_ostra/') {
    document.getElementById('section-main').style.display = 'none';
    document.getElementById('section-main-redirection').style.display = 'block';
    location.href = 'https://mykosfera.cl/fichas_hongos/Ficha_info_Hongo_Ostra_Mykosfera.pdf';
  } else if (location.href == window.location.host + '/qr/qr_linktree/') {
    document.getElementById('section-main').style.display = 'none';
    document.getElementById('section-main-redirection').style.display = 'block';
    location.href = 'https://linktr.ee/mykosfera';
  } else if (location.href == window.location.host + '/qr/1172/') {
    document.getElementById('section-main').style.display = 'none';
    document.getElementById('section-main-redirection').style.display = 'block';
    location.href = 'https://www.instagram.com/mykosfera/';
  }
</script>
