.swiper .swiper-slide img {
    width: 100%;
}

.swiper .swiper-slide {
    position: relative;
}

.swiper .swiper-slide .slide-content {
    position: absolute;
    color: white;
    width: 480px;
}

mark {
    background-color: rgba(241, 155, 64, 0.8);
    color: #79426a;
}

.slide-content {
    margin-left: 30px;
    margin-top: 50px;
    padding: 10px 16px 10px 20px;
    background: rgba(236, 232, 232, 0.7);
}

.slide-content span {
    color: #79426a;
    font-size: 20px;
    font-weight: bold;
    line-height: 1px !important;
}

.slide-content small {
    color: #79426a;
    font-weight: bold;
}

.slide-content h2 {
    color: #79426a;
    margin: 25px 1px 25px 2px;
    padding-left: 10px;
    width: 50%;
    font-size: 35px;
    font-weight: 900;
}

@media (min-width: 450px) and (max-width: 989px) {

    .swiper .swiper-slide .slide-content {
        width: 80%;
    }

    .slide-content {
        margin-left: 8%;
        margin-top: 10%;
        padding: 10px 16px 10px 20px;
        background: #ece8e8e6;
    }

    .slide-content span {
        color: #79426a;
        font-size: 16px;
        font-weight: 700;
    }

    .slide-content h2 {
        color: #79426a;
        margin: 1px 1px 1px 2px;
        padding-left: 10px;
        width: 40%;
        font-size: 22px;
        font-weight: 900;
    }

    .icon-slider-items {
        display: none !important;
    }
}

@media (min-width: 320px) and (max-width: 450px) {

    .swiper .swiper-slide .slide-content {
        width: 80%;
    }

    .slide-content {
        margin-left: 8%;
        margin-top: 8%;
        padding: 10px 16px 10px 20px;
        background: #ece8e8e6;
    }

    .slide-content span {
        color: #79426a;
        font-size: 10px;
        font-weight: 700;
    }

    .slide-content h2 {
        color: #79426a;
        margin: 1px 1px 1px 2px;
        padding-left: 10px;
        width: 40%;
        font-size: 14px;
        font-weight: 900;
    }

    .icon-slider-items {
        display: none !important;
    }
}